<!DOCTYPE html>
<html>
<head>
    <title>Password Reset Link</title>
</head>
<body>
    <div>
        <h2>Email sent!</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            Check your email for a link to reset your password. If it doesn't appear within a few minutes, check
            your spam folder.
        </p>
        <a href="{% url 'login' %}">Back to Login page</a>
    </div>
</body>
</html>