<!DOCTYPE html>
<html>
<head>
    <title>Password Change Done</title>
</head>
<body>
    <div>
        <h2>Password Change Success!</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <p>
            Enter your email to get a password reset link.
        </p>
        <a href="{% url 'login' %}">Return to Login page</a>
    </div>
</body>
</html>
