<!DOCTYPE html>
<html>
<head>
    <title>Password Change</title>
</head>
<body>
    <div>
        <h2>Password Change</h2>
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div>
                <button type="submit">Change password</button>
            </div>
        </form>
    </div>
</body>
</html>