{% autoescape off %}

Dear {{ user.username }},

We have received a request to reset the password associated with the email address linked to your account: {{ email }}.

To proceed with the password reset, please click on the following secure link:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you've forgotten your username, it is registered as {{ user.username }}.

Should you encounter any difficulties accessing the link, we recommend copying and pasting it into a new browser window.

If you did not initiate this password reset request, it's possible that someone mistakenly used your email address while attempting to reset their password. In such an instance, there is no need for further action on your part, and you can safely disregard this email.

We appreciate your prompt attention to this matter.

Best Regards,
{{domain}}

{% endautoescape %}